
name: Docker images

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.target }} + ${{ matrix.image }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - "latest"
        image:
          # Run slower jobs first to give them a headstart and reduce waiting time
          - "ubuntu-20.04-focal-arm64v8"
          - "ubuntu-20.04-focal-ppc64le"
          - "ubuntu-20.04-focal-s390x"
          # Then run the remainder
          - "alpine"
          - "amazon-2-amd64"
          - "arch"
          - "centos-7-amd64"
          - "centos-8-amd64"
          - "centos-stream-8-amd64"
          - "debian-10-buster-x86"
          - "fedora-34-amd64"
          - "fedora-35-amd64"
          - "manylinux2014-wheel-build"
          - "ubuntu-18.04-bionic-amd64"
          - "ubuntu-20.04-focal-amd64"
          - "ubuntu-20.04-focal-amd64-valgrind"
        include:
          - image: "ubuntu-20.04-focal-arm64v8"
            qemu-arch: "aarch64"
          - image: "ubuntu-20.04-focal-ppc64le"
            qemu-arch: "ppc64le"
          - image: "ubuntu-20.04-focal-s390x"
            qemu-arch: "s390x"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up QEMU
        if: "matrix.qemu-arch"
        run: |
          docker run --rm --privileged aptman/qus -s -- -p ${{ matrix.qemu-arch }}

      - name: Prepare build
        run: |
          sudo apt-get update && sudo apt-get install -qyy debootstrap
          if [ "${{ matrix.target }}" = "latest" ]; then
            git submodule update --remote Pillow
            (cd Pillow && git checkout main)
          fi
          sudo chown -R 1000 $(pwd)

      - name: Build image
        id: build
        run: |
          cd "${{ matrix.image }}" && sudo chmod a+w . && make update
          if [[ -n "$DOCKER_USERNAME" ]]; then
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin && echo "::set-output name=logged_in::true"
          fi
          make build BRANCH=main && make test BRANCH=main
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log image size
        run: |
          docker images

      - name: Push image
        if: "steps.build.outputs.logged_in == 'true'
                           && github.event_name == 'push'
                           && github.ref == 'refs/heads/main'
                           && matrix.target == 'latest'"
        run: make push-${{ matrix.image }} BRANCH=main

      - name: Post build
        if: always()
        run: sudo chown -R $(id -u) $(pwd)

  success:
    needs: build
    runs-on: ubuntu-latest
    name: Build successful
    steps:
      - name: Success
        run: echo Build Successful
